*{
    padding: 0;
    margin: 0;
}
.div1{
    display: flex;
    padding: 50px;
    gap: 60%;
}
.div2{
    display: flex;
}
.div2 p{
    padding-top: 40px;
}
.div3{
    display: flex;
}
.div4{
    display: flex;
}
.div5{
    display: flex;
}